<launch>
  <node pkg="ros_robot_control" name="ros_robot_control" type="cmd_vel_listener.py">
    <!-- remap from="/cmd_vel" to="/turtlesim/turtle1/cmd_vel"/ -->
  </node>
  
  <!-- deploy rotate system -->
  <include file="$(find hello_world_robot)/launch/rotate.launch">
    <arg name="use_sim_time" value="false"/>
  </include>
</launch>
